.navbar-brand{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 753px;
  color:aliceblue !important;
  font-style: italic;
}

.dropdown-item{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.nav-link{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.carousel-caption{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card{
  margin-bottom: 40px !important;
}

.text-center{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black!important;
  font-style: italic;
}
.card-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}
.card-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}